@import 'utilities/maps';
@import 'utilities/extend';
@import 'utilities/mixin';


/*BODY*/
body{
    background-color: aqua;
    background-image: url(../img/cebando.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

/*NAVBAR*/
.nav-bar{
    @extend .flex-center
}

/*IMG WPP*/
.whatssapp{
    width: 60px;
    position: fixed;
    bottom: 40px;
    right: 30px;
}


/*INICIO*/
section .caja{
    background-color: map-get($colores, colorcajas);
    box-shadow: 0px 2px 4px map-get($colores, colorboxshadow);
    padding: 10px;
    margin: 10px;
    h2{
        text-align: center;
        margin-bottom: 60px;
        color: #989898;
        text-transform: uppercase;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 55px; 
        p{
            text-align: center;
            margin-bottom: 40px;
            font-size: 18px;
            text-transform: uppercase;
            font-family: Arial, Helvetica, sans-serif;                
        }
    }
}

/*CONTACTO*/
form{
    padding: 50px 55px;
    background-color: map-get($colores, colorcajas);
    box-shadow: 0 0 80px map-get($colores, colorboxshadow);
    border-radius: 20px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 50px;
    width: 500px;
    .form-txt{
        @extend .flex-center;
        margin-bottom: 30px;
        text-align: center;
        a{
            color: #76b28e;
            font-size: 14px;
            font-weight: 600;
            text-decoration: none;
        }
    }
        h2{
        text-transform: uppercase;
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
        color: map-get($colores, colorblanco);
        font-size: 35px;
    }
    .input-group{
        display: flex;
        flex-direction: column;
        text-align: left;
        .botn{
            font-size: 16px;
            color: map-get($colores, colorblanco);
            border: 0;
            border-radius: 25px;
            background: linear-gradient(#51D94C,#26bd21);
            box-shadow: 0 0 20px rgba(25, 254, 0, 0.4);
            cursor: pointer;
        }
            label{
        color: map-get($colores, colorblanco);
        text-transform: uppercase;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 15px;
        font-weight: 600;
        margin-bottom: 15px;
        }
    }
    input, textarea{
        padding: 17px 25px;
        border-radius: 25px;
        margin-bottom: 20px;
        background-color: #EDFFF0;
        border: 2px solid #F0FAF1;
        color: #283629;
    }
    
    input::placeholder, textarea::placeholder{
        color: #b5cab6;
    }
    .botn:hover{
        background-color:rgba(25, 254, 0, 0.4);
    }
    .cajacontact{
        background-color: map-get($colores, colorcajas);
        border-radius: 20px;
        position: absolute;
        bottom: 150px;
        right: 200px;
        height: 300px;
        width: 250px; 
        box-shadow: 0px 4px 6px map-get($colores, colorboxshadow);
        p{
            font-family: Arial, Helvetica, sans-serif;
            color: map-get($colores, colorblanco);
        }
    }
}


/*UBICACION*/

.mapa{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
    iframe{
        left:0;
        top:0;
        height:100%;
        width:100%;
        position:absolute;
    }
}

/*GALERIA RESPONSIVE*/

main{
    grid-area: main;
    section{
        display: grid;
        grid-template-columns: repeat(2, 400px);
        grid-template-rows: repeat(3, 1fr);
        gap: 20px;
        justify-content: center;
        .mates{
            display: flex;
            width: 400px;
            height: 330px;
            background-color: map-get($colores, colorcajas);
            border-radius: 20px;
            border: 1px solid rgb(87, 86, 86);
            margin: 10px;
            box-shadow: 0px 4px 6px map-get($colores, colorboxshadow);
            img{
                width: 150px;
                padding: 10px 10px;
            }
        }
    }
    .whatssapp{
        width: 60px;
        position: fixed;
        bottom: 40px;
        right: 30px;
    }
    
}
